torch==2.1.0
torch_npu==2.1.0.post12
transformers==4.53.2
numpy==1.24
jsonlines==4.0.0
torchaudio==2.1.0
librosa
tensorboardX>=2.5
tqdm
absl-py
psutil
cloudpickle
ml-dtypes
tornado
openai-whisper
colorama
peft
sox
#deepspeed
gxl_ai_utils


hyperpyyaml
modelscope
onnxruntime
inflect
ttsfrd
omegaconf
conformer
diffusers
hydra-core
lightning
